<a href="https://colab.research.google.com/github/tanishsharma123/python-/blob/main/Untitled46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# void function
def hello():
  print()
  print("hey")
  print("regex")

In [6]:
hello()
hello()

hey
regex

hey
regex

In [9]:
def hello():
  z="tanish"
  print("hey",z)

In [11]:
def hello(z):
  print("hey",z)

In [14]:
xGlobal=10
def hello():
  print("hey",xGlobal)

In [15]:
hello()
print(xGlobal)

hey 10
10

In [17]:
def func(num):     #num_local=num
  print("function inside:",id(num),num)
  num=601
  print("functiom inside new:",id(num),num)


num=600
print(id(num))
func(num)

139387069168240
function inside: 139387069168240 600
functiom inside new: 139387069168144 601

In [19]:
def func(num1):  #num_local=num
  num1.append(30)


num=[10,20]
func(num)
print("num num:",num)

num num: [10, 20, 30]

In [22]:
#type of argument passing

In [24]:
def func(x,y,z):
  print("x:",x, "y:",y,"z:",z)


func(10,20,30)    #required argument

x: 10 y: 20 z: 30

In [26]:
def func(x,y,z):
  print("x:",x, "y:",y,"z:",z)


func(20,10,30)    #position argument

x: 20 y: 10 z: 30

In [27]:
def func(x,y,z):
  print("x:",x, "y:",y,"z:",z)


func(y=20,x=10,z=30)    #keyword argument

x: 10 y: 20 z: 30

In [28]:
def func(x,y,z="abc"):
  print("x:",x, "y:",y,"z:",z)


func(10,y=20,z="xyz")

x: 10 y: 20 z: xyz

In [29]:
num=5
x=0
for i in range(2,num):
  if num%i==0:
    x=1
    break
if x==1:
  print("not prime")
else:
  print("prime")

prime

In [34]:
def prime(num):
  x=0
  for i in range(2,num):
    if num%i==0:
      x=1
      break

  if x==1:
    print("not prime")
  else:
    print("prime")

In [58]:
def prime(num):
  x=0
  for i in range(2,num):
    if num%i==0:
      x=1
      break

  if(x==0):
    print("prime")
  else:
    print("not prime")

In [46]:
def armstrong(num):
  temp=num
  sum=0
  rem=0
  while num>0:
    rem=num%10
    sum=sum+rem**3
    num=num//10
  if temp==sum:
    print("armstrong")
armstrong(10)

In [50]:
def  func(x):
  print(x+10)
  return  "abc"

In [51]:
y=func(10)
print("y:",y)  #y=none

20
y: abc